.clients-table
  box-sizing: border-box
  overflow: auto

.buttons-container
  margin: 10px

button
  margin-right:20px

.service-container
  display: flex
  align-items: center
  margin-bottom: 8px


.service-field
  width: 200px
  margin: 0
  height: 70%


