<p>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>ROMIRA Clean</span>
      <span class="spacer"></span>
      <button mat-icon-button aria-label="Menu">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar-row>

    <mat-toolbar-row>
      <span>Second Line</span>
      <span class="spacer"></span>
      <button mat-icon-button class="favorite-icon" aria-label="heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="share-icon" aria-label="share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</p>
